# Lecture 6

### The Original Short Course
https://didactexgit.github.io/python_101/

We are moving away from this to be more flexible to what skills the incoming class is missing and how to get them best prepared for their degrees.

## Review OOP and keep thinking about how to program the race track. 
We will finish the project for class on Friday, so come prepared to actually participate. 
If we DON'T finish... it will become homework, so come prepared to help finish it.

## Introduction to Pandas

Pandas official package and link 

https://pandas.pydata.org/

https://pandas.pydata.org/docs/user_guide/index.html



Key things we will use it for: 

    -Loading
    -Organizing
    -Assessing
    -Saving

Example: Load, organize, and visualize

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.105118  0.261163  0.789784  0.454295
1 -0.377499  1.650006  0.826222  0.592369
2 -0.200443  0.381576 -2.877818  0.658063
3 -0.563900  0.967832 -0.585530  0.903768
4  0.944141 -0.403872  1.725963 -0.334613
5  1.131245 -0.489499  0.037288 -0.246213

In [2]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.138071  0.394534 -0.014015  0.337945
std    0.716722  0.817533  1.606875  0.508817
min   -0.563900 -0.489499 -2.877818 -0.334613
25%   -0.333235 -0.237613 -0.429826 -0.071086
50%   -0.152780  0.321370  0.413536  0.523332
75%    0.681826  0.821268  0.817112  0.641639
max    1.131245  1.650006  1.725963  0.903768

In [3]:
df2 = pd.DataFrame(np.random.randn(100000,4), columns=list('ABCD'))
df2

              A         B         C         D
0     -0.212190 -1.131633  0.763701 -0.512011
1      1.336480  0.642154  0.468972  1.647910
2      1.887460  0.133624  0.515381 -0.390154
3      1.376048  1.134584 -1.835318 -0.117904
4     -0.667067  0.977619 -0.615289 -0.350284
...         ...       ...       ...       ...
99995 -0.032260 -1.061101  0.591897 -1.862480
99996  0.010455  0.192331  0.124470 -0.174057
99997  0.412380 -0.058279  0.336432  0.604367
99998 -0.545912  0.318127 -0.361240  0.554859
99999 -2.333204  1.541531 -1.086767  0.603636

[100000 rows x 4 columns]

In [4]:
df2.head(10)

          A         B         C         D
0 -0.212190 -1.131633  0.763701 -0.512011
1  1.336480  0.642154  0.468972  1.647910
2  1.887460  0.133624  0.515381 -0.390154
3  1.376048  1.134584 -1.835318 -0.117904
4 -0.667067  0.977619 -0.615289 -0.350284
5 -0.595909 -0.409899  1.681522 -0.431473
6  0.018655  1.473129 -0.072830  0.310518
7  0.442529 -0.595222 -0.017584 -2.236188
8 -0.275065 -0.723547  0.703769 -0.591928
9  1.754037  0.198509 -0.115100 -0.616938

In [5]:
df2.describe()

                   A              B              C              D
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.000867      -0.004155      -0.003612      -0.000171
std         0.993446       0.995854       0.997206       0.999160
min        -4.185446      -4.170168      -4.578131      -4.955840
25%        -0.672646      -0.679230      -0.675656      -0.673493
50%         0.001870      -0.006294      -0.009677      -0.001803
75%         0.668968       0.668445       0.669601       0.674791
max         4.355781       4.375365       4.644309       4.083647

In [7]:
numpydf2 = df2.to_numpy()
numpydf2
df2['A'].to_numpy()

array([-0.21218956,  1.33648015,  1.88745982, ...,  0.41237964,
       -0.54591187, -2.33320434])

In [15]:
#Saving Data with Pandas
df2.to_csv('pandaNumpy.csv')

HIGHLY recommend looking over the '10 minutes to pandas' on the official documentation. It will walk you through the primary functionality of the package and common uses.

## Generators

built-in (such as range())

building our own, such as the fib gen

Generate sample data

In [9]:
range()

TypeError: arange() requires stop to be specified.

Fibonacci Sequence
https://en.wikipedia.org/wiki/Fibonacci_sequence

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ....

In [10]:
def fibonacciGeneratorFunc(last=0, last2=1):
    while(True):
        nextVal = last + last2
        last2 = last
        last = nextVal
        yield nextVal

In [11]:
fibGenerator = fibonacciGeneratorFunc()
print(next(fibGenerator))

1

In [12]:
print(next(fibGenerator))
print(next(fibGenerator))
print(next(fibGenerator))
print(next(fibGenerator))
print(next(fibGenerator))

1
2
3
5
8

In [13]:
for fib in fibonacciGeneratorFunc():
    print(fib)
    if fib > 100:
        break

# Mention continue, break, etc in loops

1
1
2
3
5
8
13
21
34
55
89
144

In [16]:
def fibonacciGeneratorWithLimitFunc(last=1, last2=1, limit=100):
    while(True):
        nextVal = last + last2
        last2 = last
        last = nextVal
        if nextVal < limit:
            yield nextVal
        else:
            yield nextVal
            return

In [17]:
for fib in fibonacciGeneratorWithLimitFunc():
    print(fib)

2
3
5
8
13
21
34
55
89
144

If there are no Break statements, IT WILL CONTINUE FOREVER (until your CPU dies or the universe does). 

Useful knowledge, to kill a running program in python, 

Terminal: ctrl+c

Notebook: Stop button 

If unsure, debug

## Loading data from External Sources

Loading a .csv

    Download
    Load from directory same as Pandas example



Visualizing results from each (to show identical)

In [19]:
newDF = pd.read_csv('pandaNumpy.csv', index_col=0)

newDF.head()

          A         B         C         D
0  1.291695  0.760702  2.720094  0.931856
1  1.479767 -0.399483  0.187153 -0.318378
2 -0.344846  0.080111  0.684900 -1.092724
3  0.485402  0.620038 -0.108213  0.501597
4 -0.406039 -0.522131 -1.118347 -0.029639

Loading .csv directly from URL

    https://realpython.com/python-download-file-from-url/



What's a good csv we would want to download? 

https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [21]:
import csv
from urllib.request import urlopen

url = 'https://storage.googleapis.com/tf-datasets/titanic/train.csv'
# OLD AND BUSTED WAY
# response = urlopen(url)
# print(response)
# cr = csv.reader(response)
# print(cr.read)

# HAPPY PANDA NEW WAY
titanicDF = pd.read_csv(url)
titanicDF.head()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [24]:
titanicDF.describe()

         survived         age  n_siblings_spouses       parch        fare
count  627.000000  627.000000          627.000000  627.000000  627.000000
mean     0.387560   29.631308            0.545455    0.379585   34.385399
std      0.487582   12.511818            1.151090    0.792999   54.597730
min      0.000000    0.750000            0.000000    0.000000    0.000000
25%      0.000000   23.000000            0.000000    0.000000    7.895800
50%      0.000000   28.000000            0.000000    0.000000   15.045800
75%      1.000000   35.000000            1.000000    0.000000   31.387500
max      1.000000   80.000000            8.000000    5.000000  512.329200

In [26]:
print(titanicDF.columns)

Index(['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare',
       'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

## Showing what matters
What would we care about seeing? 

- number of survivors? 
- correlations?

Which columns actually would matter?

### Just see what looks cool?

In [20]:
import matplotlib.pyplot as plt

x = np.arange(0,titanicDF.shape[0])
plt.figure()
plt.plot(x, titanicDF['survived'])

NameError: name 'titanicDF' is not defined